@media screen and (max-width: 600px) {
  .container {
    margin: 0 20px;
  }
  .header-top {
    flex-direction: column;
  }
  .header-top-right ul {
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
  }

  .banner {
    background-size: 100% 100%;
  }
  .form-data {
    flex-direction: column;
    justify-content: center;
  }
  .form-data {
    /* padding: 0 auto; */
    margin: 50px auto;
    width: 90%;
  }
  .popular-tour {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
  }
  #ul-list {
    padding-left: 20px;
    width: 90%;
  }

  .img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .grid-item-1 {
    position: relative;
    grid-column: 1 / span 1;
  }
  .grid-item-2 {
    position: relative;

    grid-column: 1 / span 1;
  }
  .grid-item-3 {
    position: relative;

    grid-column: 1 / span 1;
  }
  .grid-item-4 {
    position: relative;

    grid-column: 1 / span 1;
  }
  .grid-item-5 {
    position: relative;

    grid-column: 1 / span 1;
  }

  .grid-item-6 {
    position: relative;

    grid-column: 1 / span 1;
  }
  .grid-item-7 {
    position: relative;

    grid-column: 1 / span 1;
  }
  .img-container img {
    width: 100%;
    height: 100%;
  }
  .services {
    flex-direction: column;
  }
  .services-3 {
    /* max-width: 420px; */
    width: 100%;
  }

  .deal-top {
    position: absolute;
    left: 3%;
    top: 130px;
    height: auto;
    width: auto;
    padding: 10px;
  }

  .deal-top-2 {
    position: absolute;
    left: 3%;
    top: 130px;
    height: auto;
    width: auto;
    padding: 10px;
  }
  .simple-place {
    flex-direction: column;
    justify-content: center;
  }
  .vid {
    width: 90%;
  }

  .newsletter {
    flex-direction: column;

  }
  .nw-img{
    
    width: 90%;
    margin: 0 25px;
  }
    .upto-save {
        position: absolute;
        top: 55%;
        left: 40%;
        width: 285px;
    height: 90px;

    }
    .newsletter-left {
        margin: auto 25px;
        padding: 30px 35px;
        
    }
    .form-sub{
        padding: 15px;
    }

    .hr{
        width: 335px;
height: 1px;
    margin: 0 auto;
    }

    .fp-m{
        margin-top: 200px;
    }
    .fav-container {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    #tf1{
        padding-top: 100px;
    }


  }

