@media screen and (max-width: 600px) {
  .container {
    margin: 0 20px;
  }
  .header-top {
    flex-direction: column;
  }
  .header-top-right ul {
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
  }

  .banner {
    background-size: 100% 100%;
  }
  .form-data {
    flex-direction: column;
    justify-content: center;
  }
  .form-data {
    /* padding: 0 auto; */
    margin: 50px auto;
    width: 90%;
  }
  .popular-tour {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
  }
  #ul-list{
    padding-left: 20px;
    width: 90%;
  }
}
