@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.text-color {
  color: #ff5400;
}

.destination-area {
    position: relative;
    text-align: center;
  color: #fff;
  /* text-align: center; */
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}
 
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Shared css */
.container {
  max-width: 1440px;
  margin: auto 135px;
  /* background-color: firebrick; */
}
.paragraph-content {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Header top */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.header-top-left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-top-right > ul,
a {
  text-decoration: none;
  list-style: none;
}

.header-top-right ul {
  display: flex;
  gap: 45px;
}

.header-top-right ul li > a {
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#home {
  color: #ff5400;
}

/* Banner section */

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: auto;
  /* background-size: 100% 100%; */
  border-radius: 16px;
  margin-top: 50px;

  /* object-fit: cover; */
}

.banner-title {
  padding-top: 105px;
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-praragraph {
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.form-data {
  margin-top: 50px;
  display: flex;
  padding: 16px;
  justify-content: center;
  gap: 24px;
  /* border: 1px solid gold; */
  /* max-width: 768px; */
  /* margin-left: 125px; */
  width: 81.25%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

#btn-1 {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;
  padding: 15px 35px;
}

.form-data {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-data input {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 0;
  padding: 16px;
}

.form-data select {
  padding: 16px 35px 16px 16px;
  border-radius: 8px;
  border: 0;
}

.popular-tour {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}

.popular-tour-img img {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
  /* background-size: 100% 100%; */
}

.popular-tour-title {
  padding-bottom: 24px;
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.paragraph-content p {
  padding: 25px 0;
}

.btn-read-more {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0;
  padding: 16px 36px;
}

/* Destination parts */
.destination {
  text-align: center;
  margin: 100px auto;
}
.img-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  
  /* align-items: center;
  justify-content: center; */
}
.grid-item-1 {
    position: relative;
  grid-column: 1 / span 6;
}
.grid-item-2 {
    position: relative;
    
  grid-column: 7 / span 6;
}
.grid-item-3 {
    position: relative;
    
  grid-column: 1 / span 4;
}
.grid-item-4 {
    position: relative;
    
  grid-column: 5 / span 5;
}
.grid-item-5 {
    position: relative;
    
  grid-column: 10 / span 3;
}

.grid-item-6 {
    position: relative;
    
  grid-column: 1 / span 5;
}
.grid-item-7 {
    position: relative;
    
  grid-column: 6 / span 7;
}
.img-container img {
  width: 100%;
  height: 100%;
}


/* .test{
    position: relative;
  text-align: center;
} */

