@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.text-color {
  color: #ff5400;
}

.destination-area {
  position: relative;
  text-align: center;
  color: #fff;
  /* text-align: center; */
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Shared css */
.container {
  max-width: 1440px;
  margin: auto 135px;
  /* background-color: firebrick; */
}
.paragraph-content {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.section-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* Header top */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.header-top-left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-top-right > ul,
a {
  text-decoration: none;
  list-style: none;
}

.header-top-right ul {
  display: flex;
  gap: 45px;
}

.header-top-right ul li > a {
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#home {
  color: #ff5400;
}

/* Banner section */

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: auto;
  /* background-size: 100% 100%; */
  border-radius: 16px;
  margin-top: 50px;
  padding-bottom: 50px;
  /* object-fit: cover; */
  background-size: 100% 100%;
}

.banner-title {
  padding-top: 105px;
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-praragraph {
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.form-data {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  padding: 16px;
  justify-content: center;
  /* gap: 40px; */
  /* border: 1px solid gold; */
  /* max-width: 768px; */
  /* margin-left: 125px; */
  width: 81.25%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

#btn-1 {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;
  padding: 15px 35px;
}

.form-data {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.form-data input {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 0;
  padding: 16px;
}

.form-data select {
  padding: 16px 35px 16px 16px;
  border-radius: 8px;
  border: 0;
}

.popular-tour {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}

.popular-tour-img img {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
  /* background-size: 100% 100%; */
}

.popular-tour-title {
  padding-bottom: 24px;
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.paragraph-content p {
  padding: 25px 0;
}

.btn-read-more {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0;
  padding: 16px 36px;
}

/* Destination parts */
.destination {
  text-align: center;
  margin: 100px auto;
}
.img-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  /* align-items: center;
  justify-content: center; */
}
.grid-item-1 {
  position: relative;
  grid-column: 1 / span 6;
}
.grid-item-2 {
  position: relative;

  grid-column: 7 / span 6;
}
.grid-item-3 {
  position: relative;

  grid-column: 1 / span 4;
}
.grid-item-4 {
  position: relative;

  grid-column: 5 / span 5;
}
.grid-item-5 {
  position: relative;

  grid-column: 10 / span 3;
}

.grid-item-6 {
  position: relative;

  grid-column: 1 / span 5;
}
.grid-item-7 {
  position: relative;

  grid-column: 6 / span 7;
}
.img-container img {
  width: 100%;
  height: 100%;
}

/* Why choose us */

.who-chose {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.services {
  margin-top: 50px;
  display: flex;
  gap: 25px;
}

.handpick {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}

.world-class {
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

/* Services shared */

#logo-1 {
  padding: 10px;
}

#p-1 {
  padding: 10px;
}

.service-title {
  padding: 10px;
}

/* Service 3 */

.services-bottom {
  display: flex;
}
.services-3 {
  padding: 30px;
  margin: 25px auto;
  width: 50%;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Discount */

.Discount {
  padding-top: 50px;
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.deal-img-container-1 {
  margin: 50px auto;
  background-image: url("../Images/Group 39.png");
  height: 500px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.deal-img-container-2 {
  margin: 50px auto;
  background-image: url("../Images/Group\ 40.png");
  height: 500px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.deal-img-container-3 {
  background-image: url("../Images/Group 39.png");
  height: 500px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.deal-display-flex .deal-top ul,
.deal-display-flex-2 .deal-top-2 ul {
  display: flex;
  gap: 15px;
}
.deal-top li,
.deal-top-2 li {
  list-style: none;
}

.deal-top {
  border-radius: 16px;
  border: 2px solid #fff;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  padding: 35px;
}

.deal-display-flex {
  position: relative;
}

.deal-top {
  position: absolute;
  left: 35%;
  top: 55px;
}

.deal-title {
  padding-top: 26px;
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.deal-paragraph {
  padding-top: 26px;
  width: 452px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.price-color {
  padding-top: 10px;
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal-btn {
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 20px;
  padding: 13px 24px;
}

/* Deal-top-2 */

.deal-display-flex-2 {
  position: relative;
}

.deal-top-2 {
  border-radius: 16px;
  border: 2px solid #fff;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  padding: 35px;
}

.deal-top-2 {
  position: absolute;
  left: 7.5%;
  top: 55px;
}

.btn-pack {
  display: flex;
  align-items: center;
}
.btn-package {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 60px auto;
  width: 210px;
  height: 52px;
  flex-shrink: 0;
  /* border: 0; */
  border: 1px solid gold;
}

#pkg-1 {
  text-align: left;
  font-size: 22px;
  padding-top: 10px;
}

.lost-place {
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  padding-top: 12px;
}

.lost-pc {
  padding-top: 10px;
}

.vid {
  /* width: 100%;
  height: 100%; */

  width: 610px;
  height: 424px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 10%);
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.simple-place {
  /* height: 450px; */
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.place-right {
  position: relative;
}

.watch {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

/* Fan favourite section */

.fp-m {
  margin: 100px;
  margin-top: 200px;
}

.favourite-places {
  display: grid;
  place-items: center;
  font-weight: 400;
}

.fav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  font-family: "Mulish", sans-serif;

  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 2px 5px #817b8d;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../Images/sylhet.jpg") no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../Images/kuakata.jpg") no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../Images/stmartin.jpg") no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../Images/sundorban.jpg") no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/* Newsletter section */

.newsletter {
  display: flex;
  margin-top: 100px;
  gap: 25px;
}

.newsletter-left {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px;
}

.nw-left {
  text-align: left;
}

.name-nw {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  padding-left: 20px;
}

.email-nw {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  padding-left: 20px;
}

.sub-nw {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  border: 0;
}

.sub-nw {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.saves {
  position: relative;
}

.upto-save {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  text-align: center;
  z-index: 1;
}

.upto-save {
  position: absolute;
  top: 55%;
  left: 48%;
}

.upto-save h4 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.upto-save h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nw-img {
  object-fit: cover;
}

/* Footer section */

footer {
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
  height: 500px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.footer-paragraph {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.social {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #131318;
  font-size: 40px;
}

.hr {
  width: 872px;
  height: 1px;
  margin: 0 auto;
}

#footer-copy {
  padding-top: 30px;
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
